<section id="adoption-section" class="container g-py-100">
	<div class="text-center g-mb-50">
		<h2 class="h1 g-color-black g-font-weight-600">果树认领</h2>
		<p class="lead">这些果树都被我承包了</p>
	</div>

	<div class="row align-items-lg-center">
		<div class="col-lg-8 col-md-7">
			<!-- Row -->
			<div class="row g-mr-20--md g-mb-30--lg">
				<div class="col-lg-6 g-mb-40">
					<i class="d-block icon-transport-026 g-font-size-55 g-line-height-1 g-color-primary g-mb-15"></i>
					<h4 class="h5 text-uppercase g-letter-spacing-1 g-mb-10">优先发货</h4>
					<p class="mb-0">与顺丰快递合作，次日送达</p>
				</div>
				<div class="col-lg-6 g-mb-40">
					<i class="d-block icon-hotel-restaurant-249 g-font-size-55 g-line-height-1 g-color-primary g-mb-15"></i>
					<h4 class="h5 text-uppercase g-letter-spacing-1 g-mb-10">专人看护</h4>
					<p class="mb-0">24/7小时守护栏主果树</p>
				</div>
			</div>
			<!-- End Row -->
			<!-- Row -->
			<div class="row g-mr-20--md">
				<div class="col-lg-6 g-mb-40 g-mb-0--lg">
					<i class="d-block icon-hotel-restaurant-211 g-font-size-55 g-line-height-1 g-color-primary g-mb-15"></i>
					<h4 class="h5 text-uppercase g-letter-spacing-1 g-mb-10">领养证书</h4>
					<p class="mb-0">精美定制的果树领养证书</p>
				</div>
				<div class="col-lg-6 g-mb-40 g-mb-0--lg">
					<i class="d-block icon-hotel-restaurant-234 g-font-size-55 g-line-height-1 g-color-primary g-mb-15"></i>
					<h4 class="h5 text-uppercase g-letter-spacing-1 g-mb-10">线下接待</h4>
					<p class="mb-0">栏主预约线下采摘更享独特接待</p>
				</div>
			</div>
			<!-- End Row -->
		</div>
		<div class="col-lg-4 col-md-5">
			<!-- Article -->
			<article class="text-center g-bg-gray-light-v5 g-rounded-15 g-overflow-hidden">
				<!-- Article Header -->
				<header class="g-bg-primary g-pos-rel g-px-20 g-py-50">
					<svg class="g-pos-abs g-bottom-0 g-left-0 g-right-0" version="1.1" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="70px" viewBox="0 0 300 70">
						<path d="M30.913,43.944c0,0,42.911-34.464,87.51-14.191c77.31,35.14,113.304-1.952,146.638-4.729 c48.654-4.056,69.94,16.218,69.94,16.218v54.396H30.913V43.944z" opacity="0.6" fill="#f7f7f7"></path>
						<path d="M-35.667,44.628c0,0,42.91-34.463,87.51-14.191c77.31,35.141,113.304-1.952,146.639-4.729 c48.653-4.055,69.939,16.218,69.939,16.218v54.396H-35.667V44.628z" opacity="0.6" fill="#f7f7f7"></path>
						<path d="M43.415,98.342c0,0,48.283-68.927,109.133-68.927c65.886,0,97.983,67.914,97.983,67.914v3.716 H42.401L43.415,98.342z" opacity="0.7" fill="#f7f7f7"></path>
						<path d="M-34.667,62.998c0,0,56-45.667,120.316-27.839C167.484,57.842,197,41.332,232.286,30.428 c53.07-16.399,104.047,36.903,104.047,36.903l1.333,36.667l-372-2.954L-34.667,62.998z" fill="#f7f7f7"></path>
					</svg>
					<strong class="d-block g-color-white g-font-size-50 g-line-height-0_7 g-mb-20">
						<span class="g-valign-top g-font-size-default">¥</span> 2000
						<span class="g-font-size-default">/ 年</span>
					</strong>
					<h3 class="h6 text-uppercase g-color-white-opacity-0_7 g-letter-spacing-3 g-mb-20">成为栏主</h3>
				</header>
				<!-- End Article Header -->
				<!-- Article Content -->
				<div class="g-px-20 g-pt-20 g-pb-40">
					<ul class="list-unstyled g-mb-40">
						<li class="g-mb-20">保证产量，多的不退少的补齐</li>
						<li class="g-mb-20">特别看护，独立园区，专人看护</li>
						<li class="g-mb-20">微信整合，手机监控、下单发货</li>
					</ul>
					<a class="btn text-uppercase u-btn-primary g-rounded-50 g-font-weight-700 g-pa-15-30 g-mb-10" href="#!">电话联系</a>
				</div>
				<!-- End Article Content -->
			</article>
			<!-- End Article -->
		</div>
	</div>
</section>
<section class="g-bg-primary g-color-white g-pa-30" style="background-image: url({{ 'img/bg/pattern5.png' | prepend: site.assets.unify }});">
	<div class="d-md-flex justify-content-md-center text-center">
		<div class="align-self-md-center">
			<p class="lead g-font-weight-400 g-mr-20--md g-mb-15 g-mb-0--md">前100株认领者更有<span class="g-color-black">栏主尊享特权</span></p>
		</div>
		<div class="align-self-md-center">
			<a class="btn btn-md u-btn-white" href="#!">立即认领</a>
		</div>
	</div>
</section>
