		<div id="contacts-section" class="g-bg-black-opacity-0_9 g-color-white-opacity-0_8 g-py-60">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-6 g-mb-40 g-mb-0--lg">
						<div class="u-heading-v3-1 g-brd-white-opacity-0_3 g-mb-25">
							<h2 class="u-heading-v3__title h6 text-uppercase g-brd-primary">关注我们</h2>
						</div>
						<p class="mb-0">
							<img style="max-width: 50%; height: auto;" src="{{ 'assets/img/chikiwi-qrcode.jpg' | relative_url }}" alt="微信公众号">
						</p>
					</div>
					<div class="col-lg-3 col-md-6 g-mb-40 g-mb-0--lg">
						<div class="u-heading-v3-1 g-brd-white-opacity-0_3 g-mb-25">
							<h2 class="u-heading-v3__title h6 text-uppercase g-brd-primary">最新动态</h2>
						</div>
						<article>
							<h3 class="h6 g-mb-2">
								<a class="g-color-white-opacity-0_8 g-color-white--hover" href="#!">猕猴桃基地开园</a>
							</h3>
							<div class="small g-color-white-opacity-0_6">2018年5月</div>
						</article>
						<hr class="g-brd-white-opacity-0_1 g-my-10">
						<article>
							<h3 class="h6 g-mb-2">
								<a class="g-color-white-opacity-0_8 g-color-white--hover" href="#!">第二届猕猴桃采摘节开幕</a>
							</h3>
							<div class="small g-color-white-opacity-0_6">2017年9月</div>
						</article>
						<hr class="g-brd-white-opacity-0_1 g-my-10">
						<article>
							<h3 class="h6 g-mb-2">
								<a class="g-color-white-opacity-0_8 g-color-white--hover" href="#!">首届猕猴桃采摘节开幕</a>
							</h3>
							<div class="small g-color-white-opacity-0_6">2016年8月</div>
						</article>
					</div>
					<div class="col-lg-3 col-md-6 g-mb-40 g-mb-0--lg">
						<div class="u-heading-v3-1 g-brd-white-opacity-0_3 g-mb-25">
							<h2 class="u-heading-v3__title h6 text-uppercase g-brd-primary">页面导航</h2>
						</div>
						<nav class="text-uppercase1">
							<ul class="js-scroll-nav list-unstyled g-mt-minus-10 mb-0">
								<li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
									<h4 class="h6 g-pr-20 mb-0">
										<a class="g-color-white-opacity-0_8 g-color-primary--hover" href="#products-section">品种介绍</a>
										<i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
									</h4>
								</li>
								<li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
									<h4 class="h6 g-pr-20 mb-0">
										<a class="g-color-white-opacity-0_8 g-color-primary--hover" href="{{ 'coming.html' | relative_url }}">线下采摘</a>
										<i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
									</h4>
								</li>
								<li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
									<h4 class="h6 g-pr-20 mb-0">
										<a class="g-color-white-opacity-0_8 g-color-primary--hover" href="#adoption-section">果树认领</a>
										<i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
									</h4>
								</li>
							</ul>
						</nav>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="u-heading-v3-1 g-brd-white-opacity-0_3 g-mb-25">
							<h2 class="u-heading-v3__title h6 text-uppercase g-brd-primary">联系方式</h2>
						</div>
						<address class="g-bg-no-repeat g-mt-minus-4" style="background-image: url({{ '/img/maps/map2.png' | prepend: site.assets.unify }});">
							<div class="d-flex g-mb-20">
								<div class="g-mr-10">
									<span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
										<i class="fa fa-map-marker"></i>
									</span>
								</div>
								<p class="mb-0">湖北省黄石市大冶市金牛镇上王
									<br>猛哥有机猕猴桃基地</p>
							</div>
							<div class="d-flex g-mb-20">
								<div class="g-mr-10">
									<span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
										<i class="fa fa-phone"></i>
									</span>
								</div>
								<p class="mb-0">(0714) xxxx xxxx
									<br>(0714) xxxx xxxx</p>
							</div>
							<div class="d-flex g-mb-20">
								<div class="g-mr-10">
									<span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
										<i class="fa fa-globe"></i>
									</span>
								</div>
								<p class="mb-0">
									<a class="g-color-white-opacity-0_8 g-color-white--hover" href="mailto:sale@chikiwi.com">sale@chikiwi.com</a>
									<br>
									<a class="g-color-white-opacity-0_8 g-color-white--hover" href="https://www.chikiwi.com">https://www.chikiwi.com</a>
								</p>
							</div>
						</address>
					</div>
				</div>
			</div>
		</div>
		<footer class="g-bg-gray-dark-v1 g-color-white-opacity-0_8 g-py-20">
			<div class="container">
				<div class="row">
					<div class="col-md-8 text-center text-md-left g-mb-15 g-mb-0--md">
						<div class="d-lg-flex">
							<small class="d-block g-font-size-default g-mr-10 g-mb-10 g-mb-0--md">2018 &copy; 大冶市金牛铭森生态农业专业合作社</small>
							<ul class="u-list-inline">
								<li class="list-inline-item">
									<a href="#!">法律声明</a>
								</li>
								<li class="list-inline-item">
									<span>|</span>
								</li>
								<li class="list-inline-item">
									<a href="#!">隐私条款</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-md-4 align-self-center">
						<ul class="list-inline text-center text-md-right mb-0">
							<li class="list-inline-item">
								<span class="text-muted">鄂ICP备40000001号-1</span>
							</li>
							<li class="list-inline-item">
								<span class="text-muted">鄂ICP备40000001号-2</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</footer>
