		<section class="g-bg-pos-center g-bg-img-hero g-py-200" style="background-image: url({{ 'assets/img/promo2.jpg' | relative_url }});">
			<div class="container text-center g-z-index-1">
				<div class="g-mb-50 fadeInUp u-in-viewport" data-animation="fadeInUp" data-animation-delay="200" data-animation-duration="1500" style="animation-duration: 1500ms;">
					<a class="js-fancybox-media u-icon-v2 g-brd-white g-color-black g-brd-white--hover g-bg-white g-font-size-20 rounded-circle g-text-underline--none--hover" href="javascript:;" data-src="{{ site.promo.video }}" data-type="iframe" data-animate-in="fadeIn" data-animate-out="fadeOut" data-speed="1000">
						<i class="g-pos-rel g-left-2 hs-icon hs-icon-play"></i>
					</a>
				</div>
				<div class="g-mb-25 fadeInUp u-in-viewport" data-animation="fadeInUp" data-animation-delay="500" data-animation-duration="1500" style="animation-duration: 1500ms;">
					<h2 class="h4 d-inline-block g-brd-bottom g-brd-2 g-brd-white g-color-white g-font-weight-600 text-uppercase g-pb-5">猕猴桃低语</h2>
				</div>
				<h3 class="g-color-white g-font-weight-700 g-font-size-40 g-font-size-55--md text-uppercase g-mb-40 fadeInUp u-in-viewport" data-animation="fadeInUp" data-animation-delay="800" data-animation-duration="1500" style="animation-duration: 1500ms;">
					很高兴再次遇见你
				</h3>
			</div>
		</section>
