		<section id="records-section" class="container g-py-100">
			<div class="text-center g-mb-50">
				<h2 class="h1 g-color-black g-font-weight-600">关于我们</h2>
				<p class="lead">专注绿色生态</p>
			</div>
			<div class="row text-center text-uppercase">
				<div class="col-md-3 col-6 g-mb-50">
					<i class="et-icon-beaker display-5 g-mb-25"></i>
					<div class="js-counter display-5 g-mb-20 g-color-primary">1000</div>
					<h4 class="h5">亩</h4>
				</div>
				<div class="col-md-3 col-6 g-mb-50">
					<i class="et-icon-clock display-5 g-mb-25"></i>
					<div class="js-counter display-5 g-mb-20 g-color-primary">8000</div>
					<h4 class="h5">株</h4>
				</div>
				<div class="col-md-3 col-6 g-mb-50">
					<i class="et-icon-chat display-5 g-mb-25"></i>
					<div class="js-counter display-5 g-mb-20 g-color-primary">150000</div>
					<h4 class="h5">斤</h4>
				</div>
				<div class="col-md-3 col-6 g-mb-50">
					<i class="et-icon-lightbulb display-5 g-mb-25"></i>
					<div class="js-counter display-5 g-mb-20 g-color-primary">1000000</div>
					<h4 class="h5">枚</h4>
				</div>
			</div>
		</section>
